<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}{% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1164/1164620.svg" type="image/x-icon" />
    <title>Aulas Online</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="/" class="active">Teachers</a>
            <a href="/alunos">Students</a>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>