@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --dark: 	#262833;
    --green: #4acfac;
    --orange: #ffaf5f;
    --purple: #7e8ce0;
    --blue: #36c7d0;
    --salmon: #ffa4be;
    --gray: #aaa;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--green);
}

/*---------------Header-------------*/

header {
    background-color: whitesmoke;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a {
    text-decoration: none;
    color: var(--purple);
    position: relative;
}

.links a + a {
    margin-left: 32px;
}

.links a.active {
    font-weight: bold;
    color: var(--green);
}

.links a:hover {
    color: var(--green);
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--green);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 150ms ease-in-out;
}

/*---------Card------------*/
.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,.1);
    animation: up 400ms ease-out;
}

.avatar {
    background: url("https://source.unsplash.com/collection/10090394/500x500") no-repeat center center / cover;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    } to {
        opacity: 1;
    }
}

.details {
    padding: 32px;
}

.details .item {
    border-top: 1px solid var(--salmon);
    padding: 16px 0;
}

.details .item:first-of-type{
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: var(--purple);
    letter-spacing: 0.7px;
    font-weight: bold;

}

.details .item div:nth-child(2) {
    color: var(--dark);
    font-size: 18px;

}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--green);
}

.since  span{
    padding: 8px 16px;
    background-color: rgba(222, 232, 236, 0.9);
    border-radius: 16px;
    color: var(--blue);
    margin-top: 8px;
    margin-left: 8px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}


 .since span + span::before {
    content: "";
    width: 2px;
    height: 28px;
    background-color: var(--blue);
    position: absolute;
    left: -6px;
    top: 2px;
    transform: rotate(20deg);
    
}

/*---------Form------------*/
input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--green);
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
}
 .details .item span {
    padding: 8px 16px;
    background-color: rgba(222, 232, 236, 0.9);
    border-radius: 16px;
    color: var(--blue);
    margin-top: 8px;
    margin-left: 8px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}


a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}