<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="https://www."
        value="{{student.avatar_url}}">
    </div>
</div>
<div class="item">
    <div>Name</div>
    <div>
        <input type="text" name="name" 
        value="{{student.name}}">
    </div>
</div>
<div class="item">
    <div>Email</div>
    <div>
        <input type="email" name="email"
        value="{{student.email}}">
    </div>
</div>
<div class="item">
    <div>Birth's date</div>
    <div>
        <input type="date" name="birth"
        value="{{student.birth}}">
    </div>
</div>
<div class="item">
    <div>School Year</div>
    <div>
        <select name="school_year" value="{{student.school_year}}">
            <option value="6th" {% if student.school_year == "6th" %} selected {% endif %}>6th Grade</option>
            <option value="7th" {% if student.school_year == "7th" %} selected {% endif %}>7th Grade</option>
            <option value="8th" {% if student.school_year == "8th" %} selected {% endif %}>8th Grade</option>
            <option value="9th" {% if student.school_year == "9th" %} selected {% endif %}>Freshman Year</option>
            <option value="10th" {% if student.school_year == "10th" %} selected {% endif %}>Sophomore Year</option>
            <option value="11th" {% if student.school_year == "11th" %} selected {% endif %}>Junior Year</option>
            <option value="12th" {% if student.school_year == "12th" %} selected {% endif %}>Senior Year</option>
        </select>
    </div>
</div>
<div class="item">
    <div>Class Hours (per week)</div>
    <div>
        <input type="number" name="class_hours" value="{{student.class_hours}}">
    </div>
</div>
<div class="item">
    <div>Teacher</div>
        <div>
            <select name="teacher" >
                {% for teacher in teacherOptions %}
                    <option value="{{teacher.id}}"{% if student.teacher_id == teacher.id %} selected {% endif %}>{{teacher.name}}</option>
                {% endfor %}
            </select>
        </div>
</div>
<button type="submit" class="save">Save</button>
