{% extends 'layout.njk' %}

{% block content %}

    <div class="card tableConteiner">
        
        <div class="header">
            <a class="button" href="http:/students/create">Register</a>
            <form action="/students" method="GET">
                <input 
                type="text" 
                name="filter"
                placeholder="Filter by name or school year"
                value="{{filter}}">
                <button type="submit">Filter</button>
            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Email</th>
                    <th>School Year</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>                   
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}
                        </td>
                        <td>
                            {{student.email}}
                        </td>
                        <td>
                            <span id="schoolYear">{{student.school_year}}</span>
                        </td>
                        <td><a href="/students/{{student.id}}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"         
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-filter = {{filter}}
        ></div>
    </div>

{% endblock content %}