            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" name="avatar_url" placeholder="https://www."
                    value="{{teacher.avatar_url}}">
                </div>
            </div>
            <div class="item">
                <div>Name</div>
                <div>
                    <input type="text" name="name" placeholder="Teacher's name"
                    value="{{teacher.name}}">
                </div>
            </div>
            <div class="item">
                <div>Birth's date</div>
                <div>
                    <input type="date" name="birth_date"
                    value="{{teacher.birth_date}}">
                </div>
            </div>
            <div class="item">
                <div>Education Level</div>
                <div>
                    <select name="education_level" value="{{teacher.education_level}}">
                        <option value="highSchool" {% if teacher.education == "highSchool" %} selected {% endif %}>High school degree</option>
                        <option value="higher" {% if teacher.education == "higher" %} selected {% endif %}>Higher Education degree</option>
                        <option value="masters" {% if teacher.education == "masters" %} selected {% endif %}>Master's degree</option>
                        <option value="doctorate" {% if teacher.education == "doctorate" %} selected {% endif %}>Doctorate degree</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div>Class type</div>
                <div>
                    <span><input type="radio" name="class_type" value="classroom" {% if teacher.class_type == 'classroom' %}
                    checked
                    {% endif %}> Classroom teaching</span>
                    <span><input type="radio" name="class_type" value="distance" {% if teacher.class_type == 'distance' %}
                    checked
                    {% endif %}> Distance teaching</span>
                </div>
            </div>
            <div class="item">
                <div>Subjects Taught</div>
                <div>
                    <input type="text" name="subjects_taught" placeholder="Type the subjects separated by commas"
                    value="{{teacher.subjects_taught}}">
                </div>
            </div>
            <button type="submit" class="fullWidth">Save</button>

             <script src="/script.js"></script>