{% extends 'layout.njk' %}

{% block content %}

    <div class="card tableConteiner">
        <a href="http:/teachers/create">Register</a>
        <table width="100%">

            <thead>
                <tr>
                    <th>Teacher</th>
                    <th>Monitoring</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>                   
                        <td>
                            <span style="background-image: url({{teacher.avatarUrl}})"></span>
                            {{teacher.name}}
                        </td>
                        <td>
                            {% for monitor in teacher.monitoring %}
                                <span id="monitoring">{{monitor}}</span>
                            {% endfor %}
                        </td>
                        <td><a href="/teachers/{{teacher.id}}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}