{% extends 'layout.njk' %}

{% block content %}

    <div class="card">
        <section class="avatar">
        </section>
        <section class="details">
            <h3>Details</h3>
            <div class="item">
                <div>Name</div>
                <div>Symon Cristhian</div>
            </div>
            <div class="item">
                <div>Age</div>
                <div>22 years</div>
            </div>
            <div class="item">
                <div>Education Level</div>
                <div>Software Engineering degree</div>
            </div>
            <div class="item">
                <div>Class type</div>
                <div>Presential</div>
            </div>
            <div class="item">
                <div>Monitoring</div>
                <div>Informatics</div>
            </div>
            <div class="item">
                <div >Since</div>
                <div class="since">
                <span>05</span>
                <span>02</span>
                <span>2019</span>
            </div>
            </div>
        </section>
    </div>

{% endblock content %}